$alpha: #fff;
$beta: #000;
$gamma: #aaa;

body {
  margin: 0;
  font: 16px 'Helvetica Neue', Helvetica, sans-serif;
}

div.calendar-container {
  margin-top: 30px;
  text-align: center;
}

svg.calendar {
  line.spoke {
    stroke: $beta;
  }

  text.month-name {
    font-size: 0.7em;
    text-anchor: middle;
    dominant-baseline: central;
    fill: $gamma;
  }
}
