$alpha: #fff;
$beta: #000;
$gamma: #aaa;
$delta: #fcff6c;
$epsilon: #fff5b2;
$zeta: #ddd;
$eta: #8fa8f6;
$theta: #eb6361;

$durations: (
        week-slice-fading: 200ms
);

body {
  margin: 0;
  font: 16px 'Helvetica Neue', Helvetica, sans-serif;
}

div.main-container {
  overflow: hidden;
}

div.content-container {
  float: left;
  margin-right: -600px;
  padding-left: 30px;
  padding-top: 20px;
}

div.location-controls {
  margin-top: 30px;
}

div.location-control {
  display: inline-block;
  cursor: default;
  padding-bottom: 1px;
  border-bottom: 3px solid transparent;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &.active {
    border-color: $gamma;
  }
}

div.weather-controls {
  margin-top: 30px;
}

div.weather-control {
  display: inline-block;
  cursor: default;
  padding-bottom: 1px;
  border-bottom: 3px solid transparent;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &.active {
    border-color: $gamma;
  }
}

div.calendar-container {
  float: right;
  width: 600px;
}

svg.calendar {
  line.spoke {
    stroke: $beta;
  }

  text.month-name {
    font-size: 0.7em;
    text-anchor: middle;
    dominant-baseline: central;
    fill: $gamma;
  }

  path.week-slice {
    fill: $epsilon;
    opacity: 0;
    transition: opacity map_get($durations, week-slice-fading);

    &.visible {
      opacity: 1;
    }
  }

  text.week-number-label {
    font-size: 0.6em;
    text-anchor: middle;
    dominant-baseline: central;
    fill: $beta;
    opacity: 0;
    transition: opacity map_get($durations, week-slice-fading);

    &.visible {
      opacity: 1;
    }
  }

  text.location {
    pointer-events: none;
    font-size: 1.4em;
    text-anchor: middle;
    dominant-baseline: central;
    fill: $beta;
  }

  rect.location-box {
    fill: transparent;
    stroke: $beta;
    stroke-width: 1px;

    &.active {
      fill: $epsilon;
    }
  }

  text.location-headline {
    font-size: 1.4em;
    text-anchor: middle;
    dominant-baseline: central;
    fill: $beta;
  }
}
