$alpha: #fff;
$beta: #000;
$gamma: #aaa;
$delta: #fcff6c;
$epsilon: #fff5b2;
$zeta: #ddd;
$eta: #8fa8f6;
$theta: #eb6361;
$iota: #eee;
$kappa: #9d42a5;

$durations: (
        week-slice-fading: 200ms,
        spoke-dash-fading: 500ms,
        week-calendar: 500ms
);

body {
  margin: 0;
  font: 16px 'Helvetica Neue', Helvetica, sans-serif;
}

div.main-container {
  overflow: hidden;
}

div.content-container {
  position: relative;
  height: 600px;
  float: left;
  margin-right: -600px;
  padding-left: 30px;
  padding-top: 20px;
}

div.location-controls {
  margin-top: 30px;
}

div.location-control {
  display: inline-block;
  cursor: default;
  padding-bottom: 1px;
  border-bottom: 3px solid transparent;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &.active {
    border-color: $gamma;
  }
}

div.year-controls {
  margin-top: 30px;
}

div.year-control {
  display: inline-block;
  cursor: default;
  padding-bottom: 1px;
  border-bottom: 3px solid transparent;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &.active {
    border-color: $gamma;
  }
}

div.weather-controls {
  margin-top: 30px;
}

div.weather-control {
  display: inline-block;
  cursor: default;
  padding-bottom: 1px;
  border-bottom: 3px solid transparent;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &.active {
    border-color: $gamma;
  }
}

div.weather-icon {
  margin-bottom: 5px;

  svg {
    display: block;
    margin: 0 auto;
    width: 50px;

    path {
      fill: $gamma;
    }
  }
}

div.legends-container {
  margin-top: 100px;
}

svg.legends {
  g.sunny,
  g.rainy,
  g.windy {
    opacity: 0;
    transition: opacity map_get($durations, spoke-dash-fading);

    &.visible {
      opacity: 1;
    }
  }
}

div.links {
  position: absolute;
  bottom: 0;

  a {
    color: $beta;
    text-transform: lowercase;
    font-size: 0.9em;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover,
    &:active {
      color: $theta;
    }
  }
}

div.calendar-container {
  float: right;
  width: 600px;
  position: relative;
}

svg.calendar {
  line.spoke {
    stroke: $beta;
  }

  g.spoke-dash-main-group {
    opacity: 0;
    transition: opacity map_get($durations, spoke-dash-fading);

    &.visible {
      opacity: 1;
    }
  }

  text.month-name {
    font-size: 0.7em;
    text-anchor: middle;
    dominant-baseline: central;
    fill: $gamma;
  }

  path.week-slice {
    fill: $epsilon;
    opacity: 0;
    transition: opacity map_get($durations, week-slice-fading);

    &.visible {
      opacity: 1;
    }
  }

  text.week-number-label {
    font-size: 0.6em;
    text-anchor: middle;
    dominant-baseline: central;
    fill: $beta;
    opacity: 0;
    transition: opacity map_get($durations, week-slice-fading);

    &.visible {
      opacity: 1;
    }
  }

  text.location {
    pointer-events: none;
    font-size: 1.4em;
    text-anchor: middle;
    dominant-baseline: central;
    fill: $beta;
  }

  rect.location-box {
    fill: transparent;
    stroke: $beta;
    stroke-width: 1px;

    &.active {
      fill: $epsilon;
    }
  }

  text.location-headline {
    font-size: 1.4em;
    text-anchor: middle;
    dominant-baseline: central;
    fill: $beta;
  }
}

svg.week-calendar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  g.main-group {
    opacity: 0;
    transition: opacity map_get($durations, week-calendar);

    &.visible {
      opacity: 1;
    }
  }

  g.axis {
    path,
    line {
      fill: none;
      stroke: $gamma;
      shape-rendering: crispEdges;
    }
  }

  g.axis.x {
    path {
      display: none;
    }
  }

  path.line {
    fill: none;
    stroke: $beta;
    stroke-width: 2px;

    &.max-temp {
      stroke: $theta;
    }

    &.min-temp {
      stroke: $eta;
    }

    &.zero {
      stroke-width: 1px;
      stroke-dasharray: 3px 3px;
      stroke: $gamma;
    }
  }

  g.tick {
    text {
      font-size: 0.6em;
    }
  }

  text.y-axis-label {
    text-anchor: end;
    font-size: 0.6em;
  }
}
