$k1: #222;
$k2: #d3d1bd;
$k3: #FF5252;
$k4: #FFEB3B;
$k5: #888;
$k6: #444;
$k7: #8fa8f6;
$k8: #9d42a5;
$k9: #fff;
$k10: #eee;

// alternative rain colour: #00BCD4;

$durations: (
        week-slice-fading: 200ms,
        spoke-dash-fading: 500ms,
        week-calendar: 500ms,
        control: 200ms,
        mobile-background: 500ms
);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font: 16px 'Helvetica Neue', Helvetica, sans-serif;
  background: $k1;
  color: $k5;
}

h1 {
  color: $k2;
}

div.main-container {
  overflow: hidden;
  height: 100%;
  transition: background-color map_get($durations, mobile-background);

  &.invisible {
    display: none;
  }

  div.sync-container {
    display: none;
  }
}

div.content-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  margin-right: -600px;
  padding-left: 40px;
}

div.location-controls {
  margin-top: 30px;
}

div.location-control {
  display: inline-block;
  cursor: default;
  padding-bottom: 1px;
  border-bottom: 3px solid transparent;
  transition: border-color map_get($durations, control);

  &:not(:last-child) {
    margin-right: 15px;
  }

  &.active {
    color: $k2;
    border-color: $k2;
  }
}

div.year-controls {
  margin-top: 30px;
}

div.year-control {
  display: inline-block;
  cursor: default;
  padding-bottom: 1px;
  border-bottom: 3px solid transparent;
  transition: border-color map_get($durations, control);

  &:not(:last-child) {
    margin-right: 20px;
  }

  &.active {
    color: $k2;
    border-color: $k2;
  }
}

div.weather-controls {
  margin-top: 30px;
}

div.weather-control {
  display: inline-block;
  cursor: default;
  padding-bottom: 1px;
  border-bottom: 3px solid transparent;
  transition: border-color map_get($durations, control);

  &:not(:last-child) {
    margin-right: 40px;
  }

  &.active {
    color: $k2;
    border-color: $k2;
  }
}

div.weather-icon {
  margin-bottom: 5px;

  &.active {
    svg {
      path {
        fill: $k2;
      }
    }
  }

  svg {
    display: block;
    margin: 0 auto;
    width: 50px;

    path {
      fill: $k5;
    }
  }
}

div.legends-container {
  margin-top: 60px;
}

svg.legends {
  g.sunny,
  g.rainy,
  g.windy {
    opacity: 0;
    transition: opacity map_get($durations, spoke-dash-fading);

    &.visible {
      opacity: 1;
    }

    text {
      fill: $k2;
    }
  }
}

div.page-links {
  position: fixed;
  bottom: 20px;
  left: 40px;

  &.invisible {
    left: 0;
    width: 100%;
    text-align: center;

    :not(img) {
      display: none;
    }
  }

  img {
    vertical-align: middle;
    margin-right: 20px;
  }

  a {
    color: $k5;
    text-transform: lowercase;
    font-size: 0.9em;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover,
    &:active {
      color: $k2;
    }
  }
}

div.calendar-container {
  float: right;
  height: 100%;
  position: relative;
}

svg.calendar {
  height: 100%;
  display: block;

  line.spoke {
    stroke: $k1;
  }

  g.spoke-dash-main-group {
    opacity: 0;
    transition: opacity map_get($durations, spoke-dash-fading);

    &.visible {
      opacity: 1;
    }
  }

  text.month-name {
    font-size: 0.6em;
    text-anchor: middle;
    dominant-baseline: central;
    text-transform: uppercase;
    fill: $k5;
  }

  path.week-slice {
    fill: $k6;
    opacity: 0;
    transition: opacity map_get($durations, week-slice-fading);

    &.visible {
      opacity: 1;
    }
  }

  text.week-number-label {
    font-size: 0.6em;
    text-anchor: middle;
    dominant-baseline: central;
    fill: $k2;
    opacity: 0;
    transition: opacity map_get($durations, week-slice-fading);

    &.visible {
      opacity: 1;
    }
  }
}

svg.week-calendar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  g.main-group {
    opacity: 0;
    transition: opacity map_get($durations, week-calendar);

    &.visible {
      opacity: 1;
    }
  }

  g.axis {
    path,
    line {
      fill: none;
      stroke: $k5;
      shape-rendering: crispEdges;
    }
  }

  g.axis.x {
    path {
      display: none;
    }
  }

  path.line {
    fill: none;
    stroke: $k5;
    stroke-width: 2px;

    &.max-temp {
      stroke: $k3;
    }

    &.min-temp {
      stroke: $k7;
    }

    &.zero {
      stroke-width: 1px;
      stroke-dasharray: 3px 3px;
      stroke: $k5;
    }
  }

  g.tick {
    text {
      fill: $k5;
      font-size: 0.6em;
    }
  }

  text.y-axis-label {
    text-anchor: end;
    font-size: 0.6em;
    fill: $k5;
  }
}

div.page-warning {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 50%;
  width: 100%;
  background: $k1;
  box-sizing: border-box;
  color: $k4;
  padding: 20px;
  pointer-events: none;
  opacity: 0;
  text-align: center;
  transform: translateY(-50%);

  &.visible {
    pointer-events: auto;
    opacity: 1;
  }

  span.ignore {
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    border-bottom: 3px solid $k2;

    &:before {
      display: table;
      content: ' ';
    }
  }
}

div.main-container.mobile {
  color: $k9;

  &.sunny {
    background: $k3;
  }

  &.rainy {
    background: $k7;
  }

  &.windy {
    background: $k8;
  }

  div.content-container {
    top: 0;
    transform: translateY(0);
    float: none;
    margin-right: 0;
    padding-left: 0;
    text-align: center;

    h1 {
      font-size: 1.2em;
      color: $k9;
    }

    div.weather-control {
      margin: 0 10px;

      div.weather-icon {
        svg {
          width: 30px;
        }
      }
    }

    div.location-control,
    div.weather-control,
    div.year-control {
      &.active {
        color: $k9;
        border-color: $k9;
      }
    }

    div.weather-icon {
      svg path {
        fill: $k9;
      }

      &.active {
        svg path {
          fill: $k9;
        }
      }
    }
  }

  div.sync-container {
    display: block;

    &.invisible {
      display: none;
    }
  }

  div.controls {
    display: none;

    &.visible {
      display: block;
    }
  }

  div.calendar-container,
  div.legends-container {
    display: none;
  }

  div.joystick-container {
    width: 200px;
    height: 200px;
    border: 1px dotted $k9;
    border-radius: 100%;
    margin: 0 auto;
  }

  div.location-controls,
  div.year-controls,
  div.weather-controls {
    margin-top: 15px;
  }
}
