html,
body {
  height: 100%; }

body {
  margin: 0;
  font: 16px 'Helvetica Neue', Helvetica, sans-serif;
  background: #222;
  color: #888; }

h1 {
  color: #d3d1bd; }

div.main-container {
  overflow: hidden;
  height: 100%;
  transition: background-color 500ms; }
  div.main-container.invisible {
    display: none; }
  div.main-container div.sync-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    width: 100%; }
    div.main-container div.sync-container input,
    div.main-container div.sync-container button {
      display: block;
      margin: 0 auto; }
    div.main-container div.sync-container input {
      font-size: 5em;
      width: 250px;
      text-align: center;
      border-width: 0;
      background: #eee;
      -webkit-appearance: button; }
      div.main-container div.sync-container input::-moz-focus-inner {
        padding: 0;
        border: 0; }
      div.main-container div.sync-container input:focus {
        outline-style: none;
        box-shadow: none; }
    div.main-container div.sync-container button {
      margin-top: 10px;
      border-width: 0;
      background: #d3d1bd;
      font-size: 2em;
      padding: 3px 15px 5px;
      -webkit-appearance: button; }
      div.main-container div.sync-container button::-moz-focus-inner {
        padding: 0;
        border: 0; }
      div.main-container div.sync-container button:focus {
        outline-style: none;
        box-shadow: none; }

div.content-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  margin-right: -600px;
  padding-left: 40px;
  transition: opacity 500ms; }
  div.content-container.invisible {
    opacity: 0;
    pointer-events: none; }

div.location-controls {
  margin-top: 30px; }

div.location-control {
  display: inline-block;
  cursor: default;
  padding-bottom: 1px;
  border-bottom: 3px solid transparent;
  transition: border-color 200ms; }
  div.location-control:not(:last-child) {
    margin-right: 15px; }
  div.location-control.active {
    color: #d3d1bd;
    border-color: #d3d1bd; }

div.year-controls {
  margin-top: 30px; }

div.year-control {
  display: inline-block;
  cursor: default;
  padding-bottom: 1px;
  border-bottom: 3px solid transparent;
  transition: border-color 200ms; }
  div.year-control:not(:last-child) {
    margin-right: 20px; }
  div.year-control.active {
    color: #d3d1bd;
    border-color: #d3d1bd; }

div.weather-controls {
  margin-top: 30px; }

div.weather-control {
  display: inline-block;
  cursor: default;
  padding-bottom: 1px;
  border-bottom: 3px solid transparent;
  transition: border-color 200ms; }
  div.weather-control:not(:last-child) {
    margin-right: 40px; }
  div.weather-control.active {
    color: #d3d1bd;
    border-color: #d3d1bd; }

div.weather-icon {
  margin-bottom: 5px; }
  div.weather-icon.active svg path {
    fill: #d3d1bd; }
  div.weather-icon svg {
    display: block;
    margin: 0 auto;
    width: 50px; }
    div.weather-icon svg path {
      fill: #888; }

div.legends-container {
  margin-top: 60px; }

svg.legends g.sunny,
svg.legends g.rainy,
svg.legends g.windy {
  opacity: 0;
  transition: opacity 500ms; }
  svg.legends g.sunny.visible,
  svg.legends g.rainy.visible,
  svg.legends g.windy.visible {
    opacity: 1; }
  svg.legends g.sunny text,
  svg.legends g.rainy text,
  svg.legends g.windy text {
    fill: #d3d1bd; }

div.page-links {
  position: fixed;
  bottom: 20px;
  left: 40px; }
  div.page-links.invisible {
    left: 0;
    width: 100%;
    text-align: center; }
    div.page-links.invisible :not(img) {
      display: none; }
  div.page-links img {
    vertical-align: middle;
    margin-right: 20px; }
  div.page-links a {
    color: #888;
    text-transform: lowercase;
    font-size: 0.9em;
    text-decoration: none; }
    div.page-links a:not(:last-child) {
      margin-right: 10px; }
    div.page-links a:hover, div.page-links a:active {
      color: #d3d1bd; }

div.calendar-container {
  float: right;
  height: 100%;
  position: relative;
  transition: margin-right 500ms, transform 500ms; }
  div.calendar-container.middle {
    margin-right: 50%;
    transform: translateX(50%); }
  div.calendar-container div.sync {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 1.8em;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms; }
    div.calendar-container div.sync.visible {
      opacity: 1; }
    div.calendar-container div.sync.none {
      display: none; }
    div.calendar-container div.sync span {
      display: block;
      font-size: 3em;
      font-weight: 600; }
    div.calendar-container div.sync div.visit {
      font-size: 2em; }
    div.calendar-container div.sync div.after {
      display: none; }
    div.calendar-container div.sync.synced div.before {
      display: none; }
    div.calendar-container div.sync.synced div.after {
      display: block; }

svg.calendar {
  height: 100%;
  display: block; }
  svg.calendar line.spoke {
    stroke: #222; }
  svg.calendar g.spoke-dash-main-group {
    opacity: 0;
    transition: opacity 500ms; }
    svg.calendar g.spoke-dash-main-group.visible {
      opacity: 1; }
  svg.calendar text.month-name {
    font-size: 0.6em;
    text-anchor: middle;
    dominant-baseline: central;
    text-transform: uppercase;
    fill: #888; }
  svg.calendar path.week-slice {
    fill: #444;
    opacity: 0;
    transition: opacity 200ms; }
    svg.calendar path.week-slice.visible {
      opacity: 1; }
  svg.calendar text.week-number-label {
    font-size: 0.6em;
    text-anchor: middle;
    dominant-baseline: central;
    fill: #d3d1bd;
    opacity: 0;
    transition: opacity 200ms; }
    svg.calendar text.week-number-label.visible {
      opacity: 1; }

svg.week-calendar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; }
  svg.week-calendar g.main-group {
    opacity: 0;
    transition: opacity 500ms; }
    svg.week-calendar g.main-group.visible {
      opacity: 1; }
  svg.week-calendar g.axis path,
  svg.week-calendar g.axis line {
    fill: none;
    stroke: #888;
    shape-rendering: crispEdges; }
  svg.week-calendar g.axis.x path {
    display: none; }
  svg.week-calendar path.line {
    fill: none;
    stroke: #888;
    stroke-width: 2px; }
    svg.week-calendar path.line.max-temp {
      stroke: #FF5252; }
    svg.week-calendar path.line.min-temp {
      stroke: #8fa8f6; }
    svg.week-calendar path.line.zero {
      stroke-width: 1px;
      stroke-dasharray: 3px 3px;
      stroke: #888; }
  svg.week-calendar g.tick text {
    fill: #888;
    font-size: 0.6em; }
  svg.week-calendar text.y-axis-label {
    text-anchor: end;
    font-size: 0.6em;
    fill: #888; }

div.page-warning {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 50%;
  width: 100%;
  background: #222;
  box-sizing: border-box;
  color: #FFEB3B;
  padding: 20px;
  pointer-events: none;
  opacity: 0;
  text-align: center;
  transform: translateY(-50%); }
  div.page-warning.visible {
    pointer-events: auto;
    opacity: 1; }
  div.page-warning span.ignore {
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    border-bottom: 3px solid #d3d1bd; }
    div.page-warning span.ignore:before {
      display: table;
      content: ' '; }

div.main-container.mobile {
  color: #fff; }
  div.main-container.mobile.sync.sunny {
    background: #be3c3c; }
  div.main-container.mobile.sync.rainy {
    background: #47b; }
  div.main-container.mobile.sync.windy {
    background: #7c357c; }
  div.main-container.mobile div.content-container {
    top: 0;
    transform: translateY(0);
    float: none;
    margin-right: 0;
    padding-left: 0;
    text-align: center;
    height: 100%; }
    div.main-container.mobile div.content-container h1 {
      font-size: 1.2em;
      color: #fff; }
    div.main-container.mobile div.content-container div.weather-control {
      margin: 0 10px; }
      div.main-container.mobile div.content-container div.weather-control div.weather-icon svg {
        width: 30px; }
    div.main-container.mobile div.content-container div.location-control.active,
    div.main-container.mobile div.content-container div.weather-control.active,
    div.main-container.mobile div.content-container div.year-control.active {
      color: #fff;
      border-color: #fff; }
    div.main-container.mobile div.content-container div.weather-icon svg path {
      fill: #fff; }
    div.main-container.mobile div.content-container div.weather-icon.active svg path {
      fill: #fff; }
  div.main-container.mobile div.sync-container {
    display: block; }
    div.main-container.mobile div.sync-container.invisible {
      display: none; }
  div.main-container.mobile div.controls {
    display: none; }
    div.main-container.mobile div.controls.visible {
      display: block; }
  div.main-container.mobile div.calendar-container,
  div.main-container.mobile div.legends-container {
    display: none; }
  div.main-container.mobile div.joystick-container {
    width: 250px;
    height: 250px;
    border: 3px solid #fff;
    border-radius: 100%;
    margin: 0 auto;
    -webkit-user-select: none;
    -webkit-touch-callout: none; }
  div.main-container.mobile div.location-controls,
  div.main-container.mobile div.year-controls,
  div.main-container.mobile div.weather-controls {
    margin-top: 15px; }

.logotype.invisible {
  display: none; }

/*# sourceMappingURL=main.css.map */
